*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 576px) {
  html {
    font-size: 1rem;
  }
}

@media (min-width: 576px) {
  html {
    font-size: 1.1rem;
  }
}

@media (min-width: 576px) {
  html {
    font-size: 1.2rem;
  }
}

@media (min-width: 576px) {
  html {
    font-size: 1.3rem;
  }
}

@-webkit-keyframes soldansaga {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  70% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes soldansaga {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  70% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes sagdansola {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  70% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes sagdansola {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  70% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes doyuntu {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes doyuntu {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes doyuntunotstop {
  0% {
    -webkit-transform: scale(0.62);
            transform: scale(0.62);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes doyuntunotstop {
  0% {
    -webkit-transform: scale(0.62);
            transform: scale(0.62);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  background-color: #eeeeee;
  font-family: 'Thasadith', sans-serif;
  color: #FFFFFF;
}

.fullscreen-header {
  background-color: orange;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(103, 112, 126, 0.5)), to(rgba(255, 181, 3, 0.5))), url("/scssproject/img/2400x1350_code-programming-text-technology.jpg");
  background-image: linear-gradient(to right bottom, rgba(103, 112, 126, 0.5), rgba(255, 181, 3, 0.5)), url("/scssproject/img/2400x1350_code-programming-text-technology.jpg");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
}

.nav {
  background-color: #222831;
  padding: .4rem .4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
}

@media (min-width: 576px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .3rem;
}

.nav__list-item {
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 0;
  padding: .26rem .75rem;
}

.nav__list-item:hover {
  color: #222831;
  background-color: #ffd369;
  border-radius: 10000px;
}

.section {
  color: black;
  margin: 1rem 0;
  padding: 1rem;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  margin: 0 1rem 1.5rem 1rem;
}

.section--accent {
  background-color: #222831;
  color: #FFFFFF;
}

.haqqimda-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 500px);
      grid-template-columns: minmax(auto, 500px);
  row-gap: 2rem;
}

.haqqimda-grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.haqqimda-grid__icon {
  width: 23%;
  margin-right: 1.5rem;
  margin-left: 1rem;
}

.haqqimda-grid__yazi {
  text-decoration: none;
  background-color: #393e46;
  color: white;
  border-radius: .7rem;
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  -webkit-transition: .45s ease-in-out;
  transition: .45s ease-in-out;
}

.haqqimda-grid__yazi:focus, .haqqimda-grid__yazi:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 768px) {
  .haqqimda-grid {
    -ms-grid-columns: (minmax(auto, 100rem))[3];
        grid-template-columns: repeat(3, minmax(auto, 100rem));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .haqqimda-grid .haqqimda-grid__icon {
    width: 30%;
  }
}

@media (min-width: 992px) {
  .haqqimda-grid {
    -ms-grid-columns: (minmax(auto, 360px))[3];
        grid-template-columns: repeat(3, minmax(auto, 360px));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.action-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .action-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .action-container {
    max-width: 75%;
  }
}

.footer {
  margin: 0;
  height: 25vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(103, 112, 126, 0.5)), to(rgba(255, 181, 3, 0.5))), url("/scssproject/img/wallpapersden.com_programming-coding-language_1920x1080.jpg");
  background-image: linear-gradient(to right bottom, rgba(103, 112, 126, 0.5), rgba(255, 181, 3, 0.5)), url("/scssproject/img/wallpapersden.com_programming-coding-language_1920x1080.jpg");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
}

.header-title {
  font-size: 2rem;
  color: #FFFFFF;
  -webkit-animation: soldansaga 1s;
          animation: soldansaga 1s;
}

.header-subtitle {
  font-size: 1.5rem;
  color: #FFFFFF;
  margin-top: 1rem;
  margin-bottom: 2rem;
  -webkit-animation: sagdansola 1s;
          animation: sagdansola 1s;
}

.btn {
  -webkit-animation: doyuntu 1.5s;
          animation: doyuntu 1.5s;
  text-decoration: none;
  font-size: 1rem;
  background-color: #393e46;
  color: #FFFFFF;
  border-radius: 10000px;
  padding: .25rem 1rem;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
}

.btn:hover {
  background-color: #ffd369;
  border-bottom: 4px solid #de9d00;
  border-left: 4px solid #de9d00;
  color: #222831;
}

.btn:active {
  border: none;
}

.bottom-icon {
  position: absolute;
  width: 3rem;
  bottom: 1rem;
  -webkit-animation: doyuntunotstop .7s alternate infinite;
          animation: doyuntunotstop .7s alternate infinite;
}

.logo {
  font-size: 1.7rem;
  font-family: 'Share Tech Mono';
  -webkit-transition: .5s;
  transition: .5s;
}

.logo:hover {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.action-card {
  text-align: center;
  padding: 1rem;
  margin: .5rem 1rem;
  border: 1px dashed #eeeeee;
  border-radius: .6rem;
  -webkit-transition: .45s ease-in-out;
  transition: .45s ease-in-out;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.action-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.action-card-1, .action-card-2, .action-card-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(57, 62, 70, 0.85)), to(rgba(255, 211, 105, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(57, 62, 70, 0.85), rgba(255, 211, 105, 0.85));
}

.footer-text {
  text-align: center;
  font-size: 2.5rem;
  color: #eeeeee;
}

.form {
  max-width: 500px;
  margin: 0 auto;
}

.form-label {
  display: block;
  color: #222831;
  font-weight: bold;
}

.form-input {
  width: 100%;
  margin: .25rem;
  margin-bottom: 1rem;
  border-radius: .4rem;
  border: 2px solid #393e46;
  padding: .7rem;
  max-height: 150px;
  color: inherit;
  resize: vertical;
  outline: none;
}

.form-input:hover, .form-input:focus {
  border-color: #ffd369;
}

.btn-container {
  text-align: right;
}

.btn-submit {
  font-size: 1.1rem;
  border-top: none;
  border-right: none;
}
/*# sourceMappingURL=main.css.map */