@keyframes soldansaga
{
    0%
    {
        transform: translateX(-50%);
    }
    70%
    {
        transform: translateX(20%);
    }
    100%
    {
        transform: translateX(0);
    }
}

@keyframes sagdansola
{
    0%
    {
        transform: translateX(150%);
    }
    70%
    {
        transform: translateX(-20%);
    }
    100%
    {
        transform: translateX(0);
    }
}

@keyframes doyuntu
{
    0%
    {
        transform: scale(.6);
    }
    50%
    {
        transform: scale(1.2);
    }
    100%
    {
        transform: scale(1);
    }
}

@keyframes doyuntunotstop
{
    0%
    {
        transform: scale(.62);
    }
    100%
    {
        transform: scale(1);
    }
}
